@model DoAnWeb.Models.SanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Bạn có muốn xóa sản phẩm @Model.TenSP</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            
        </dt>
        <dd><img src="~/Images/@Html.DisplayFor(modelItem => Model.MaSP)/@Html.DisplayFor(modelItem => Model.AnhSP)" alt="Ảnh sản phẩm" width="200" height="200"></dd>
        <dt>
            Tên Sản Phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>
        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTaSP)
        </dd>

        <dt>
            Đơn Giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            Loại Sản Phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSP.TenLSP)
        </dd>

        <dt>
           Nhà Cung Cấp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaCungCap.TenNCC)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay lại", "IndexAdmin")
        </div>
    }
</div>
