@model IEnumerable<DoAnWeb.Models.SanPham>

@{
    ViewBag.Title = "IndexAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.ActionLink("Tạo", "Create", null, new { @class = "btn btn-primary", style = "font-size: 16px; padding: 10px 20px; border-radius: 5px; color: #fff; background-color: #007bff; border-color: #007bff;" })

<table class="table">
    <tr>
        <th>
            Ảnh
        </th>
        <th>
            Mã Sản Phẩm
        </th>
        <th>
            Tên Sản Phẩm
        </th>
        <th>
            Loại Sản Phẩm
        </th>
        <th>
           Mô Tả
        </th>
        <th>
            Đơn Giá
        </th>
        <th>
            Nhà Cung Cấp
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/Images/@Html.DisplayFor(modelItem => item.MaSP)/@Html.DisplayFor(modelItem => item.AnhSP)" alt="Ảnh sản phẩm" width="50" height="50">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiSP.TenLSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTaSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhaCungCap.TenNCC)
            </td>
            <td>
                <button type="button" onclick="location.href='@Url.Action("Edit", "SanPhams", new { id = item.MaSP })'" class="btn btn-warning">Sửa</button>
                <button type="button" onclick="location.href='@Url.Action("Details", "SanPhams", new { id = item.MaSP })'" class="btn btn-primary">Chi Tiết</button>
                <button type="button" onclick="location.href='@Url.Action("Delete", "SanPhams", new { id = item.MaSP })'" class="btn btn-danger">Xóa</button>
            </td>
        </tr>
    }

</table>

