@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
@using DoAnWeb.Models
@using System.Globalization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Electro - HTML Ecommerce Template</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="~/Content/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="~/Content/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/Content/style.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    @{ var customer = Session["KhachHang"] as DoAnWeb.Models.KhachHang;
        decimal tongtien = 0;
    }
    <!-- HEADER -->
    <header>
        <!-- TOP HEADER -->
        <div id="top-header">
            <div class="container">
                @{
                    if (customer == null)
                    {
                        <ul class="header-links pull-right">
                            <li><a href="/KhachHangs/Login"><i class="fa fa-user-o"></i> Đăng nhập</a></li>
                            <li><a href="/KhachHangs/Register"><i class="fa fa-user-o"></i> Đăng ký</a></li>
                        </ul>
                    }
                }
                @{
                    if (customer != null)
                    {
                        <ul class="header-links pull-left">
                            <li><a href="#"><i class="fa fa-phone"></i>@customer.SDT</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>@customer.Email</a></li>
                            <li><a href="#"><i class="fa fa-map-marker"></i>Xin chào: @customer.HoTen</a></li>
                        </ul>
                        <ul class="header-links pull-right">
                            @if (customer.RoleUser != null)
                            {
                                <li><a href="/SanPhams/IndexAdmin"><i class="fa fa-pencil"></i> Quản lý sản phẩm</a></li>
                                <li><a href="/KhachHangs/Index"><i class="fa fa-pencil"></i> Quản lý khách hàng</a></li>
                            }
                            <li><a onclick="location.href='@Url.Action("Details","KhachHangs", new { id = customer.MaKH})'"><i class="fa fa-user-o"></i> Tài khoản của tôi</a></li>
                            <li>@Html.ActionLink("Đăng xuất", "Logout", "KhachHangs")</li>
                        </ul>
                    }
                }
                <!--<ul class="header-links pull-left">
                    <li><a href="#"><i class="fa fa-phone"></i> +0909090909</a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
                    <li><a href="#"><i class="fa fa-map-marker"></i> Nha Trang</a></li>
                </ul>
                <ul class="header-links pull-right">
                    <li><a href="#"><i class="fa fa-dollar"></i> VND</a></li>-->
                @*<li><a href="#"><i class="fa fa-user-o"></i> Tài khoản của tôi</a></li>*@
                <!--<li><a href="/KhachHangs/Login"><i class="fa fa-user-o"></i> Đăng nhập</a></li>
                    <li><a href="/KhachHangs/Register"><i class="fa fa-user-o"></i> Đăng ký</a></li>
                </ul>-->
            </div>
        </div>
        <!-- /TOP HEADER -->
        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="#" class="logo">
                                <img src="~/Images/Logo/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->
                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search">
                            <form action="@Url.Action("TimKiem", "SanPhams")" method="get">
                                <select class="input-select">
                                    <option value="0">Tất cả</option>
                                </select>
                                <input type="text" class="input" name="searchString" placeholder="Tên sản phẩm">
                                <button type="submit" class="search-btn">Tìm Kiếm</button>
                            </form>
                        </div>
                    </div>

                    <!-- /SEARCH BAR -->
                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <!-- Wishlist -->
                            <div>
                                <a href="#">
                                    <i class="fa fa-heart-o"></i>
                                    <span>Yêu Thích</span>
                                    <div class="qty">2</div>
                                </a>
                            </div>
                            <!-- /Wishlist -->
                            <!-- Cart -->
                            <div class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Giỏ Hàng</span>
                                    <div class="qty">@(Session["cart"] != null ? ((List<SanPham>)Session["cart"]).Count.ToString() : "0")</div>
                                </a>
                                <div class="cart-dropdown">
                                    <div class="cart-list">
                                        @if (Session["cart"] != null)
                                        {
                                            foreach (var item in (List<SanPham>)Session["cart"])
                                            {
                                                <div class="product-widget">
                                                    <div class="product-img">
                                                        <img src="~/Images/@Html.DisplayFor(modelItem => item.MaSP)/@Html.DisplayFor(modelItem => item.AnhSP)" alt="">
                                                    </div>
                                                    <div class="product-body">
                                                        <h3 class="product-name"><a href="#">@item.TenSP</a></h3>
                                                        <h4 class="product-price"><span class="qty">1x</span>@item.DonGia.ToString("N0", CultureInfo.GetCultureInfo("vi-VN")).Replace(",", ".") VND </h4>
                                                    </div>
                                                    <form method="post" action="@Url.Action("RemoveFromCart", "SanPhams", new { id = item.MaSP })">
                                                        <button class="delete"><i class="fa fa-close"></i></button>
                                                    </form>
                                                </div>
                                                tongtien += item.DonGia;
                                            }
                                        }
                                    </div>
                                    <div class="cart-summary">
                                        <small>@(Session["cart"] != null ? ((List<SanPham>)Session["cart"]).Count : 0) sản phẩm đã chọn</small>
                                        <h5>TỔNG TIỀN: @tongtien.ToString("N0", CultureInfo.GetCultureInfo("vi-VN")).Replace(",", ".") VND</h5>
                                    </div>
                                    <div class="cart-btns">
                                        @*@Html.ActionLink("GIỎ HÀNG", "Cart", "SanPhams", new { id = customer.MaKH }, new { @class = "btn btn-primary" })*@
                                        <a href="/SanPhams/Cart">GIỎ HÀNG</a>
                                        @*@Html.ActionLink("CheckOut", "CheckOut", "HoaDons", new { id = customer.MaKH }, new { @class = "btn btn-primary" })*@
                                        <a href="/HoaDons/CheckOut">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- /Cart -->
                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <!-- /HEADER -->
    <!-- NAVIGATION -->
    @{
        Html.RenderAction("RenderMenu", "Home");
    }
    <!-- /NAVIGATION -->
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- Products tab & slick -->
                <div class="col-md-12">
                    <div class="row">
                        <div class="products-tabs">
                            <!-- tab -->
                            @RenderBody()
                            <!-- /tab -->
                        </div>
                    </div>
                </div>
                <!-- Products tab & slick -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- FOOTER -->
    <footer id="footer">
        <!-- top footer -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Giới thiệu</h3>
                            <p>Cảm ơn vì đã sử dụng và đồng hành cùng chúng tôi. Chúc bạn một ngày tốt lành! </p>
                            <ul class="footer-links">
                                <li><a href="#"><i class="fa fa-map-marker"></i>Nha Trang</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+09090909</a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Categories</h3>
                            <ul class="footer-links">
                                <li><a href="#">Hot deals</a></li>
                                <li><a href="#">Laptops</a></li>
                                <li><a href="#">Smartphones</a></li>
                                <li><a href="#">Cameras</a></li>
                                <li><a href="#">Accessories</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix visible-xs"></div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Information</h3>
                            <ul class="footer-links">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Orders and Returns</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Service</h3>
                            <ul class="footer-links">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">View Cart</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /top footer -->
        <!-- bottom footer -->
        <div id="bottom-footer" class="section">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="footer-payments">
                            <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                            <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                        </ul>
                        <span class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> Project này được thực hiện bởi nhóm 1 <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://www.facebook.com/hiimkero2705/" target="_blank">KERO</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </span>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /bottom footer -->
    </footer>
    <!-- /FOOTER -->
    <!-- jQuery Plugins -->
    <script src="/js/jquery.min.js"></script>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/nouislider.min.js"></script>
    <script src="/js/jquery.zoom.min.js"></script>
    <script src="/js/main.js"></script>

</body>
</html>
