@model DoAnWeb.Models.KhachHang

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .login-box {
        border: 1px solid #ccc; /* Định dạng viền */
        padding: 20px; /* Khoảng cách giữa viền và nội dung */
        margin: 20px auto; /* Canh giữa div */
        max-width: 100%; /* Chiều rộng tối đa của div */
    }
    /*.login-container {
        display: flex;*/ /* Sử dụng flexbox để căn giữa */
        /*justify-content: center;*/ /* Căn giữa theo chiều ngang */
        /*align-items: center;*/ /* Căn giữa theo chiều dọc */
    /*}*/
</style>

<h2 class="text-center">Đăng nhập</h2>

@using (Html.BeginForm("Login", "KhachHangs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal container">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row login-box">
            <div class="col-md-4 col-md-offset-4 ">
                <div class="form-group">
                    @Html.LabelFor(model => model.Email)
                    <div>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập email" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Matkhau, "Mật khẩu")
                    <div>
                        @Html.EditorFor(model => model.Matkhau, new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "Nhập mật khẩu" } })
                        @Html.ValidationMessageFor(model => model.Matkhau, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
                </div>
            </div>
        </div>
    </div>
    <h3 class="text-center">@ViewBag.LoginFail</h3>
}

<div>
    @Html.ActionLink("<- Đăng Ký", "Register")
</div>
